@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

/*========= BASE =========*/

:root {
    --color0: #bff0d3; 
    --color1: #83E1AD;    
    --color2: #3DDC84;
    --color3: #2FA866;
    --color4: #1A5C37;
    --color5: #1b432c;

    --default-font: 'DM Sans', sans-serif;
    --featured-font: 'Poppins', sans-serif;
    --android-font: 'Android', cursiva;

    font-size: 62.5%;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color0);
    overflow-x: hidden; 
}

/*========= HEADER =========*/

header {
    background-image: linear-gradient(to top, var(--color5), var(--color4), var(--color3), var(--color2) );

    width: 100%;
    padding: 1rem;
}

.txt-header {
    text-align: center;
    text-shadow: .2rem .2rem .6rem rgba(0, 0, 0, 0.22);
    padding-top: 3.2rem;
    padding-bottom: 4.8rem;
}

header .txt-header h1 {
    color: white;
    font-size: 4.48rem;
    font-weight: bold;
    font-family: var(--featured-font);
}

header .txt-header h2 {
    color: var(--color0);

    font-family: var(--default-font);
    font-size: 1.6rem;
    font-weight: 500;

    
}

/*========= NAVIGATION =========*/

.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-container .nav {
    display: flex;
}

.nav-container .nav li {
    list-style: none;
    display: inline-block;

    margin-left: 1.2rem;
}

.nav-container .nav a {
    text-decoration: none;
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 1.6rem;
    padding: 0 .5rem;
    margin-bottom: .5rem;

    color: white;
}

.nav-container .nav a:hover {
    border-bottom: .2rem solid var(--color2);
    color: var(--color0);
}

/*========= MENU =========*/

#btn-hamburger {
    display: none;
}

/*========= MAIN =========*/

main {
    max-width: 780px;
    margin: auto;
    
    margin-bottom: 2rem;
    padding: 2rem;

    background-color: #fff;
    box-shadow: .2rem .2rem .6rem rgba(0, 0, 0, 0.22);

    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}

.main h2 {
    color: var(--color4);

    font-family: var(--android-font);

    text-align: left;
    font-size: 3.04rem;
}

.main h3 {
    font-family: var(--android-font);

    color: var(--color4);
    background-image: linear-gradient(to right, var(--color1), rgba(255, 255, 255, 0));

    text-align: left;
    font-size: 2.4rem;

    padding: .1rem 1rem;
}

.main h4 {
    font-family: var(--default-font);
    font-size: 2rem;

    color: var(--color5);
}

.main p {
    font-family: var(--default-font);

    margin: 1.5rem 0;

    text-align: justify;
    text-indent: 2.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.main p a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color5);

    background-color: var(--color1);

    padding: .1rem .5rem;
}

.main p a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.main p > strong {
    color: var(--color5);
    font-weight: bold;
}

.main img {
    width: 100%;
    padding: .8rem 0;
}

.main img.pequena {
    max-width: 350px;
    margin: auto;

    display: block;
}

.main aside {
    background-color: var(--color1);

    padding: 1.5rem;

    border-radius: .8rem;
    box-shadow: .2rem .2rem .6rem rgba(0, 0, 0, 0.22);
}

.main aside h4 {
    background-color: var(--color5);
    color: white;

    margin: -1.5rem -1.5rem 0 -1.5rem;

    padding: .8rem 0;
    text-indent: 1.5rem;

    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.main aside ul {
    font-size: 1.6rem;
    list-style-position: inside;   
    columns: 2; 
}

div.video {
    background-color: var(--color5);

    margin: 0 2rem 1.5rem 2rem;
    padding: 2rem;
    padding-bottom: 50%;

    position: relative;
}

div.video iframe {
    position: absolute;

    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
}

/*========= FOOTER =========*/

footer {
    background-color: var(--color5);
    color: white;
    width: 100%;
    text-align: center;
}

footer p {
    font-family: var(--default-font);
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;

    padding: .2rem 0;
}

footer p a {
    text-decoration: underline;
    color: #fff;
}

/*========= RESPONSIVE =========*/
/*========= RESPONSIVE =========*/
/*========= RESPONSIVE =========*/


@media (max-width: 968px) {

    /*========= HIDDEN NAV =========*/
    .nav-container {
        display: block;
        opacity: 0;
        visibility: hidden;

        height: 1px;

        transition: .2s;
    }

    /*========= SHOW NAV =========*/
    .nav-container.show {
        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        z-index: 100000;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;

        opacity: 1;
        visibility: visible;

        background-color: var(--color4);

        overflow-y: auto;
    }

    .nav-container.show ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .nav-container.show a {
        font-size: 2rem;
    }

    /*========= HAMBURGER BUTTON =========*/

    .btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #btn-hamburger {
        display: flex;

        font-size: 1.6rem;

        border: none;
        background: none;
        cursor: pointer;
    }

    #btn-hamburger.active {
        position: fixed;
        top: 3rem;
        right: 3rem;
        z-index: 1000000;

        opacity: 1;
    }

    /*========= DECORATION HAMBURGER OPEN BUTTON  =========*/

    #btn-hamburger #hamburger {
        display: block;
        border-top: .2rem solid var(--color2);
        width: 2rem;
    }

    #btn-hamburger #hamburger::after,
    #btn-hamburger #hamburger::before {
        content: "";

        position: relative;
        display: block;
        width: 2rem;
        height: .2rem;
        margin-top: .5rem;

        background-color: var(--color2);

        transition: .2s;
    }

     /*========= DECORATION HAMBURGER CLOSE BUTTON  =========*/

    #btn-hamburger.active #hamburger {
        border: 0;
    }

    #btn-hamburger.active #hamburger::after {
        transform: rotate(135deg);
        top: -.7rem;
    }

    #btn-hamburger.active #hamburger::before {
        transform: rotate(-135deg);
    }
}

@media (max-width: 568px) {
    header .txt-header h1 {
        font-size: 4rem;
    }

    header .txt-header h2 {
        max-width: 90%;
        font-size: 1.4rem;
    }

    .main h2 {
        font-size: 3rem;
    }

    .main h3 {
        font-size: 2.4rem;
    }

    .main h4 {
        font-size: 1.7rem;
    }

    .main p {
        font-size: 1.4rem;
    }

    .main aside ul {
        font-size: 1.4rem;
    }

    footer p {
        font-size: 1.4rem;
    }
}